.create-account {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    width: 500px;
    height: 550px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: -280px;
}

.content-field h1 {
    padding: 20px;
    padding-left: 30px;
    background-color: white;
    color: #717171;
    line-height: 25px;
}

.create-account label {
    font-size: 20px;
    font-weight: bold;
    color: #544d8a;
}

.create-account input {
    width: 200px;
    padding: 5px;
    margin: 10px;
}

.create-account #nome, #email, #senha, #nascimento {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 300px;
}

form {
    text-align: center;
}

.create-account #submit-btn {
    margin-top: 80px;
    width: 200px;
    color: #544d8a;
    background: none;
    border-color: #544d8a;
    font-size: 20px;
    font-weight: bolder;
}

.create-account .fas {
    font-size: 80px;
    margin-left: 80px;
}

.create-account hr {
    border: 1px solid #717171;
    margin-top: 20px;
 }