.account-field h1 {
    padding: 20px;
    padding-left: 30px;
    background: #fff;
    color: #717171;
    line-height: 25px;
}

.account-field hr {
   border: 1px solid #717171;
}

.account-field h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #544d8a;
}

.account-field h2 i {
   margin-right: 20px;
}

.account-field .info {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
}

.account-field .info p{
    line-height: 25px;
    color: #717171;
    margin: 10px;
}