.account-field h1 {
    padding: 20px;
    padding-left: 30px;
    background: #fff;
    color: #717171;
    line-height: 25px;
}

.account-field hr {
   border: 1px solid #717171;
}

.account-field h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #544d8a;
}

.account-field h2 i {
   margin-right: 20px;
}

.account-field .info {
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
}

.account-field .info p{
    line-height: 25px;
    color: #717171;
    margin: 10px;
}

.account-field .info button {
    margin-top: 30px;
    margin-right: 30px;
    padding: 8px;
    width: 210px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
}

.account-field .info .delete {
    color: #544d8a;
    background: none;
    border-color: #544d8a;
}

.account-field .info .delete:hover {
    color: white;
    background: rgb(179, 0, 0);
    border-color: white;
}

.account-field .info .delete:active {
    color: black;
    background: red;
    border-color: white;
}


.account-field .info .edit {
    color: #544d8a;
    background: none;
    border-color: #544d8a;
}

.account-field .info .edit:hover {
    color: white;
    background: green;
    border-color: white;
}

.account-field .info .edit:active {
    color: black;
    background: rgb(21, 221, 21);
    border-color: white;
}